<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Skill Tree
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css')
    link(rel="stylesheet", href="./style/main.css")
  body
    #skillTree.skill-tree-wrap
      .container
        .row
          .col.col-4.col-title
            section
              h1.title FRONT-END SKILL TREE
              span.rank CURRENT RANK
              h2.rank-name 
                span FRONT-END 
                br 
                span NOOB
            section
              .spaceship
                img(src="./style/images/img-ship-noob.png", srcset="./style/images/img-ship-noob@2x.png 2x", alt="飛船 - 初級")
              .introduction
                canvas#cvs
                .text
                  | Welcome aboard. Your mission is：
                  br
                  span Collect the resources and learn the skills to upgrade the ship. 
                  br 
                  | Good luck, captain！
          .col.col-4.col-skill-tree
            section.skill-level#basics
              .skill-image
                figure
                  img(src="./style/images/img-planet-basics.png", srcset="./style/images/img-planet-basics@2x.png 2x", alt="basics")
                .arrow
              .skill-area
                .skill
                  .skill-icon
                    i.material-icons
                  .skill-compeleted-num#recommended
                    i.material-icons settings
                    span.compeleted-num 0
                    span /
                    span.total-num 3
                  .skill-compeleted-num#optional
                    i.material-icons filter_tilt_shift
                    span.compeleted-num 0
                    span /
                    span.total-num 0
          .col.col-4.col-skill-description

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js")
    script(src="./js/main.js")
    script.

      var skillTree = new Vue({
        el: '#skillTree',
        data: {
          degree: 0,
          skills: {}
        },
        created: function () {
          let _self = this
          $.when($.ajax({url: "./skill.json"}))
          .then(function(results){
            _self.skills = results.skill
            console.log(_self.skills)
          })
        },
        methods: {
          skillList(category) {
            this.skills.map(item) {
              return item.category === category
            }
          }
        }
      })
      