$deepPink: #FF0093;
$mediumVioletRed: #D10079;
$blueViolet: #8000FF;
$darkViolet: #6900D1;
$indigo: #35006A;
$darkSlateBlue: #250060;
$gray: rgba(0,0,0,0.1);
$gray10: rgba(255,255,255,0.1);
$gray20: rgba(255,255,255,0.2);

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

@function rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

.skill-tree-wrap {
  width: 100%;
  padding: 3rem 0;
  background: #e3e3e4;
  background: linear-gradient(to right,$darkSlateBlue,#0A001A 50%,#35006A 90%);
}

.col-title {
  .title {
    color: $deepPink;
    font-size: rem(50px);
    margin-bottom: rem(24px);
    font-weight: bold;
    font-style: italic;
    text-align:justify;
    text-justify:inter-ideograph; 
  }
  .rank {
    display: inline-block;
    color: #250060;
    background-color: $blueViolet;
    padding: 0.25rem 1rem;
    font-size: 1rem;
    margin-bottom: rem(12px);
    font-weight: bold;
  }
  .rank-name {
    color: white;
    position: relative;
    margin-bottom: rem(24px);
    font-size: rem(36px);
    font-weight: bold;
    span {
      display: inline-block;
      border-bottom: 3px solid $blueViolet;
    }
  }
  .spaceship {
    text-align: center;
    margin-bottom: rem(13px);
  }
  .introduction {
    display: block;
    width: 100%;
    height: 180px;
    border-color: 2px solid $deepPink;
    color: white;
    position: relative;
    canvas {
      width: 100%;
      height: 180px;
    }
    .text {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      padding: calc(2rem + 30px) 1.5rem 1.5rem 1.5rem;
    }
    span {
      color: $deepPink;
    }
  }
}

.skill-level {
  display: flex;
  margin-bottom: 10px;
  .skill-image {
    width: 100px;
    position: relative;
    figure {
      width: 100%;
      height: 100px;
      position: relative;
      margin-bottom: 0;
      z-index: 2;
      img {
        max-width: 100px;
        max-height: 100px;
      }
    }
    .arrow {
      width: 50%;
      height: calc(100% - 100px);
      background-color: $indigo;
      position: relative;
      margin: auto;
      margin-top: -14px;
      &:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 50px 0 50px;
        border-color: $indigo transparent transparent transparent;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .skill-area {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 100px);
    padding-left: rem(12px);
    .skill {
      width: 60px;
      margin: 4px;
      .name {
        opacity: 0;
        position: absolute;
      }
      .skill-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60px;
        border: 2px solid transparent;
        position: relative;
        background-color: $gray10;
        transition: all .3s ease-in-out;
        position: relative;
        cursor: pointer;
        margin-bottom: 5px;
        i.material-icons {
          color: white;
          font-size: 2.5rem;
          transition: color .3s ease-in-out;
        }
      }
      .skill-compeleted-num {
        color: white;
        margin-bottom: 2px;
        span {
          display: inline-block;
          vertical-align: top;
          padding: 2px;
        }
      }
      &:hover, &:visited, .start-skill {
        .skill-icon {
          border: 2px solid $deepPink;
          background-color: $darkViolet;
        }
      }
      &.disabled {
        .skill-icon {
          cursor: default;
          i.material-icons {
            color: $gray10;
          }
        }
      }
      &.completed {
        .skill-icon {
          i.material-icons {
            color: $blueViolet;
          }
        }
      }
      &.finish {
        .skill-icon {
          &:before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 16px 16px 0;
            border-color: transparent #250060 transparent transparent;
            position: absolute;
            top: 0;
            right: 0;
          }
          i.material-icons {
            color: $blueViolet;
          }
        }
      }
    }
  }
}

.skill-description {
  width: 100%;
  height: 100%;
  background-color: $blueViolet;
  padding: 3rem;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .skill-title {
    .material-icons {
      font-size: 10rem;
    }
    .name {
      font-size: rem(36px);
      font-weight: bold;
      word-break: break-word;
    }
  }
  .skills-list {
    margin: 2rem 0;
    .material-icons {
      font-size: 3rem;
    }
    h3 {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
    ul {
      padding-left: 0;
      margin: 0;
      list-style-type: none;
      li {
        margin-bottom: 5px;
      }
      a {
        display: block;
        width: 100%;
        padding: rem(8px);
        color: white;
        font-size: 1rem;
        font-weight: bold;
        border: 2px solid white;
        transition: all .5s ease-in-out;
        &:hover {
          text-decoration: none;
          background-color: $deepPink;
          border-color: $deepPink;
        }
      }
    }
  }
}